.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    /* margin-right: auto; */
    margin-left: 270px !important;
}
body{
    background-color: #94397da5;
    /* background-color: linear-gradient(45deg, #c25364, #e32a86); */
    /* background-color: linear-gradient(to bottom #ff69b4, #ff007f); */
}





@media(max-width : 768px){
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto !important;
        margin-left: auto !important;
       
    }
}